
:root {
    --bg-fonce: #454b51;
    --texte-clair: #ccc;
    --bg-clair: #efefef;
    --texte-fonce: #666;
}

body {
    background-color: var(--bg-fonce);
    color: var(--texte-clair);
}

main {
    margin-top: 3rem;
}

h1 {
    text-align: center;
}

#contenu {
    width: 17rem;
    margin: 0 auto;
    margin-top: 4rem;
    border: 1px solid var(--texte-clair);
    border-radius: 5px;
    box-shadow: -2px 2px 1px rgba(204,204,204, .5);
}

#result {
    margin: 1rem auto .25rem auto;
    width: 14rem;
    padding: .5rem;
    display: block;
    text-align: right;
}

input {
    border-radius: 3px;
}
table {
    margin: 0.25rem auto 1rem auto;
}


.button {
    width: 3rem;
    height: 3rem;
    margin: .25rem;
    padding: .5rem;
}

#zero {
    width: 6.75rem;
}
#egal {
    height: 6.75rem;
}

.btn-light:focus {
    border-color: transparent;
    background-color: #f8f9fa;
}



